<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.platform.mapper.MovieRegionMapper">
    <!-- 分页查询 -->
    <select id="queryPage"  resultType="com.project.platform.entity.MovieRegion">
        SELECT movie_region.*
        FROM movie_region
        <include refid="queryConditions"/>
        ORDER BY movie_region.id ASC
        LIMIT #{offset}, #{pageSize}
    </select>
    <!-- 查询总数 -->
    <select id="queryCount"  resultType="int">
        SELECT count(movie_region.id) FROM movie_region
        <include refid="queryConditions"/>
    </select>

    <!-- 查询条件 -->
    <sql id="queryConditions">
        <where>
          <if test="query.name != null and query.name.trim() != ''">
            AND movie_region.name LIKE CONCAT('%', #{query.name}, '%')
          </if>
        </where>
    </sql>

    <!-- 插入 -->
    <insert id="insert" parameterType="com.project.platform.entity.MovieRegion" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO movie_region
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="remark != null">remark,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="remark != null">#{remark},</if>
        </trim>


    </insert>

    <!-- 更新 -->
    <update id="updateById" parameterType="com.project.platform.entity.MovieRegion">
        UPDATE movie_region
        <set>
            <if test="name != null">
             name = #{name},
            </if>
            <if test="remark != null">
             remark = #{remark},
            </if>
        </set>
        WHERE id = #{id}
    </update>


    <!-- 根据ID列表删除 -->
    <delete id="removeByIds">
        DELETE FROM movie_region
        WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>    
</mapper>
